@model List<HTTP5112_Assignment3.Models.Teacher>
@{
    ViewData["Title"] = "List Teachers";
    string[] Headers = new string[] { "ID","Employee Number","Teacher Name","Salary" };
}
<div style=" margin-top: 20px; margin-bottom: 20px;">
    <a href="New"><h1>Add a new teacher</h1></a>
</div>
<div class="table">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                @{
                    foreach (var head in Headers)
                    {
                        <th>
                            @head
                        </th>
                    }
                }
            </tr>
        </thead>
        <tbody>

            @{
                foreach (var teacher in Model)
                {
                        <tr>
                            <td>
                                @teacher.Id
                            </td>
                            <td>
                                @teacher.Enum
                            </td>
                            <td>
                                @teacher.Fname @teacher.Lname
                            </td>
                            <td>
                                @teacher.Salary
                            </td>
                            <td>
                                <div>
                                    <a href="/Teacher/Update/@teacher.Id">Update</a>
                                </div>
                            </td>
                            <td>

                                <div>
                                    <a href="/Teacher/DeleteConfirm/@teacher.Id">Delete</a>
                                </div>
                            </td>
                        </tr>
                }
            }

        </tbody>
    </table>
</div>
